body {
	
}
 .list-header {
 	font-size: 50px;
 	font-weight: bold;
 	padding: 10px;	
 }
 .list-item {
    font-style: italic;
    list-style: none;
    margin-bottom: 5px;
    width: 50%;

 }
 .item-text {
 	border-radius: 10px;
 	width: 76%;
 	display: inline-block;
  	
  	padding: 10px;
 }
 .item1 {
 	background-color: yellow;
 }
 .item2 {
 	background-color: #6FEAD4;
 }
 .item3 {
 	background-color: #F6A9A9;
 }
 .item4 {
 	background-color: orange;
 }
 .item5 {
 	background-color: #BFBABA;
 }
 .item6 {
 	background-color: #CBF0CB;
 }
 .item7 {
 	background-color: rgba(255, 252, 16, 0.81);
 }
.delete-btn, .edit-btn{
	float: right; 
	margin-right:10px;
 }
 [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.list-item.dragElem {
  opacity: 0.4;
}
.list-item.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}